.violation-card{
    background:#111d31;
    border:1px solid #223b5b;
    border-radius:22px;
    padding:25px;
    height:100%;
}

.violation-card h2{
    color:white;
    font-size:30px;
    margin-bottom:25px;
}

.violation-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.donut-chart{

    width:220px;
    height:220px;

    border-radius:50%;

    background:
    conic-gradient(
        #4285F4 0% 32%,
        #ff4d4f 32% 56%,
        #ffb020 56% 74%,
        #20c7b7 74% 88%,
        #8b5cf6 88% 96%,
        #60a5fa 96% 100%
    );

    display:flex;
    justify-content:center;
    align-items:center;

    animation:rotateChart 1.2s ease;
}

.donut-center{

    width:135px;
    height:135px;

    border-radius:50%;

    background:#0d1628;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.donut-center h1{
    color:white;
    font-size:50px;
    margin:0;
}

.donut-center span{
    color:#8ea8cf;
    margin-top:6px;
}

.legend{
    flex:1;
}

.legend-item{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:18px;

    color:white;
}

.legend-left{

    display:flex;
    align-items:center;

    gap:12px;
}

.legend-dot{

    width:12px;
    height:12px;

    border-radius:50%;
}

.legend-item strong{

    color:#8ea8cf;
}

@keyframes rotateChart{

from{
transform:rotate(-180deg) scale(.8);
opacity:0;
}

to{
transform:rotate(0deg) scale(1);
opacity:1;
}

}

@media(max-width:1000px){

.violation-content{
flex-direction:column;
}

}